celery==5.4.0
  - billiard [required: >=4.2.0,<5.0, installed: 4.2.1]
  - click [required: >=8.1.2,<9.0, installed: 8.1.8]
    - colorama [required: Any, installed: 0.4.6]
  - click-didyoumean [required: >=0.3.0, installed: 0.3.1]
    - click [required: >=7, installed: 8.1.8]
      - colorama [required: Any, installed: 0.4.6]
  - click-plugins [required: >=1.1.1, installed: 1.1.1]
    - click [required: >=4.0, installed: 8.1.8]
      - colorama [required: Any, installed: 0.4.6]
  - click-repl [required: >=0.2.0, installed: 0.3.0]
    - click [required: >=7.0, installed: 8.1.8]
      - colorama [required: Any, installed: 0.4.6]
    - prompt_toolkit [required: >=3.0.36, installed: 3.0.48]
      - wcwidth [required: Any, installed: 0.2.13]
  - kombu [required: >=5.3.4,<6.0, installed: 5.4.2]
    - amqp [required: >=5.1.1,<6.0.0, installed: 5.3.1]
      - vine [required: >=5.0.0,<6.0.0, installed: 5.1.0]
    - tzdata [required: Any, installed: 2024.2]
    - vine [required: ==5.1.0, installed: 5.1.0]
  - python-dateutil [required: >=2.8.2, installed: 2.9.0.post0]
    - six [required: >=1.5, installed: 1.17.0]
  - tzdata [required: >=2022.7, installed: 2024.2]
  - vine [required: >=5.1.0,<6.0, installed: 5.1.0]
fastapi==0.115.6
  - pydantic [required: >=1.7.4,<3.0.0,!=2.1.0,!=2.0.1,!=2.0.0,!=1.8.1,!=1.8, installed: 2.10.5]
    - annotated-types [required: >=0.6.0, installed: 0.7.0]
    - pydantic_core [required: ==2.27.2, installed: 2.27.2]
      - typing_extensions [required: >=4.6.0,!=4.7.0, installed: 4.12.2]
    - typing_extensions [required: >=4.12.2, installed: 4.12.2]
  - starlette [required: >=0.40.0,<0.42.0, installed: 0.41.3]
    - anyio [required: >=3.4.0,<5, installed: 4.8.0]
      - idna [required: >=2.8, installed: 3.10]
      - sniffio [required: >=1.1, installed: 1.3.1]
      - typing_extensions [required: >=4.5, installed: 4.12.2]
  - typing_extensions [required: >=4.8.0, installed: 4.12.2]
pipdeptree==2.24.0
  - packaging [required: >=24.1, installed: 24.2]
  - pip [required: >=24.2, installed: 24.3.1]
pydantic-settings==2.7.1
  - pydantic [required: >=2.7.0, installed: 2.10.5]
    - annotated-types [required: >=0.6.0, installed: 0.7.0]
    - pydantic_core [required: ==2.27.2, installed: 2.27.2]
      - typing_extensions [required: >=4.6.0,!=4.7.0, installed: 4.12.2]
    - typing_extensions [required: >=4.12.2, installed: 4.12.2]
  - python-dotenv [required: >=0.21.0, installed: 1.0.1]
redis==5.2.1
requests==2.32.3
  - certifi [required: >=2017.4.17, installed: 2024.12.14]
  - charset-normalizer [required: >=2,<4, installed: 3.4.1]
  - idna [required: >=2.5,<4, installed: 3.10]
  - urllib3 [required: >=1.21.1,<3, installed: 2.3.0]
uvicorn==0.34.0
  - click [required: >=7.0, installed: 8.1.8]
    - colorama [required: Any, installed: 0.4.6]
  - h11 [required: >=0.8, installed: 0.14.0]
